.challenges-list-container {
  position: relative;

  .circle-fade-spinner {
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 0;
    left: calc((100% - 60px) / 2);
    top: 220px;
  }
}

.challenges-list-intro {
  position: relative;
  float: left;

  .intro-title {
    font-size: 42px;
    line-height: 36px;
    font-family: Avenir-Next-Thin;
    color: $primary;
    margin-bottom: 33px;
  }

  .intro-subtitle {
    font-size: 15.5px;
    color: $default-dark;
    margin-bottom: 33px;
  }

  .edit-challenges {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 24px;
    color: $primary;
    cursor: pointer;

    &:hover {
      color: $primary-hover;
    }
  }
}

.challenges-list {
  float: left;
  list-style: none;
  min-height: 1100px;
  width: 100%;

  &.no-children {
    border-top: 1px solid rgba(0, 0, 75, 0.08);
  }

  li {
    float: left;
    width: 100%;
  }
}
