.challenges-list-item {
  cursor: pointer;
  text-decoration: none;
  padding: 25px 0;
  border-top: 1px solid rgba(0, 0, 75, 0.07);
  display: block;
  float: left;
  width: 100%;
  min-height: 142px;
  background-color: #fff;

  &:hover {
    // figure out something to do
  }

  &.current {
    .ch-icon {
      background-color: #f2a543;
    }

    .ch-name {
      color: #f2a543;
    }
  }

  &.disabled {
    cursor: default;

    .ch-icon-container,
    .ch-name {
      opacity: 0.4;
    }

    .ch-desc {
      opacity: 0.8;
    }

    .ch-points {
      display: none;
    }
  }

  &.editing {
    cursor: default;

    .ch-dates {
      visibility: hidden;
    }

    .ch-icon-container {
      padding-left: 20px;
      padding-right: 20px;

      .ch-icon {
        cursor: -webkit-grab;
        background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/draggable.svg');
        background-size: 25%;
        background-position: 50% 50%;
      }
    }

    .ch-desc-container {
      width: calc(100% - 85px - 180px - 13px);
    }
  }
}

.ch-icon-container {
  padding-top: 15px;
  padding-left: 2px;
  padding-right: 25px;
  float: left;

  .ch-icon {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: $secondary;
    background-position: 49% 48.5%;
    background-repeat: no-repeat;
    background-size: 49%;

    &.socializing {
      background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/socialize.svg');
      background-position: 48% 48.5%
    }

    &.good-deeds {
      background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/good_deeds.svg');
    }

    &.sleep {
      background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/sleep.svg');
    }

    &.healthy-eating {
      background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/healthy_eating.svg');
    }

    &.journaling {
      background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/journaling.svg');
    }

    &.exercise {
      background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/running-white.svg');
    }

    &.campus-selected-challenge {
      background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/group_challenge.svg');
    }

    &.positivity-mindfulness {
      background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/mindfulness.svg');
      background-size: 65%;
      background-position: 50% 30%;
    }
  }
}

.ch-desc-container {
  width: calc(100% - 85px - 180px);
  float: left;

  .ch-name {
    font-size: 28px;
    color: $secondary;
    margin-bottom: 4px;
  }

  .ch-desc {
    font-size: 15px;
    color: rgba(0, 0, 50, 0.4);
  }
}

.ch-date-points-container {
  width: 180px;
  float: left;
  padding-right: 30px;

  .ch-dates,
  .ch-points {
    float: right;
    width: 100%;
  }

  .ch-dates {
    font-size: 15px;
    color: rgba(0, 0, 50, 0.4);
    text-align: right;
    margin-bottom: 10px;

    .ch-date {
      font-family: Avenir-Next-Italic;
    }

    .ch-date-dash {
      margin: 0 5px;
    }
  }

  .ch-points {
    img {
      height: 25px;
      margin-left: 7px;
      margin-top: 12px;
    }

    img, .points {
      float: right;
      display: inline-block;
    }

    .points {
      font-size: 36px;
      color: $primary;
      font-family: Avenir-Next-Thin;
    }
  }
}