header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 999;

  &.fixed {
    position: fixed;
  }

  .header-nav {
    width: 100%;
    float: left;

    .header-nav-link, .img-link {
      height: 54px;
      display: inline-block;

      img {
        height: 100%;
      }
    }
  }

  .header-left {
    float: left;

    a {
      float: left;
    }
  }

  .header-right {
    float: right;

    .header-nav-link {
      float: right;
    }

    .dropdown, .dropdown-menu {
      float: right;
    }

    .dropdown-menu {
      left: auto;
      right: 0;
      top: calc(100% + 4px);

      li > a {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    .dropdown-toggle {
      width: 45px;
      background-color: $primary !important;
      height: 45px;
      margin-top: 3px;
      padding: 0;
      border: none;
      margin-left: 20px !important;
      box-shadow: 0 1px 0 rgba(0,0,0,0.25);
      border-radius: 50%;
      float: right;
      cursor: pointer;
      text-transform: uppercase;
      color: white !important;
      text-align: center;
      font-size: 16px;
      line-height: 45px;
      font-family: Avenir-Next-Thin;

      .caret {
        display: none;
      }

      &:hover {
        background-color: $primary-hover !important;
      }
    }
  }

  .header-nav-link {
    font-family: Avenir-Next-Medium;
    padding: 18px 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    &.featured {
      color: $primary !important;
    }

    &:hover {
      opacity: 0.95;
    }

    &:active {
      opacity: 1;
    }
  }

  .header-dktp {
    float: right;
  }

  .header-mbl {
    display: none;
    float: right;
    margin-top: 15px;
    cursor: pointer;

    i {
      display: inline-block;
      float: right;
      font-size: 26px;
    }
  }

  &.color-on-white {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    .header-nav {
      padding: 15px 85px;
    }

    .header-nav-link {
      color: $header-dark;

      &:hover {
        opacity: 0.85;
      }
    }

    .header-mbl > i {
      color: $header-dark;
    }
  }

  &.white-on-transparent {
    .header-nav {
      padding: 24px 85px;
    }

    .header-nav-link, .header-mbl > i {
      color: #fff;
    }
  }
}

@media (max-width: 991px) {
  header {
    &.color-on-white > .header-nav {
      padding: 15px 4%;
    }

    &.white-on-transparent > .header-nav {
      padding: 24px 4%;
    }
  }

  header > .header-nav {
    padding: 24px 4%;
  }
}

@media (max-width: 626px) {
  header {
    .header-dktp {
      display: none;
    }

    .header-mbl {
      display: block;
    }

    .dropdown {
      display: none;
    }
  }
}