.quokka-nav-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  outline: none;
  border: none;
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  &.nav-left {
    background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/marketing/images/arrow-left.png');
  }

  &.nav-right{
    background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/marketing/images/arrow-right.png');
  }

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary;
  }
}


