#setPassword {
  padding-top: 84px;
  min-height: 640px;
  border-bottom: 1px solid rgba(0, 0, 75, 0.05);
  background-color: #f9f9f9;

  .auth-card {
    padding: 70px 32px;
  }

  .msg-lg {
    margin-bottom: 36px;
  }

  .submit-form {
    margin-top: 23px;
  }

  .form-select {
    border: 1px solid rgba(0, 0, 75, 0.15);
  }

  .form-input {
    margin-bottom: 10px;
  }

  .invalid-msg {
    margin-top: 22px;
  }
}