#challenge > .challenge-card {
  background-color: rgba(0,0,75,0.04);
  padding: 0 18px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 3px;
  border: 1px solid rgba(0,0,75,0.06);
  position: relative;

  .mod-btn {
    position: absolute;
    top: 12px;
    left: -58px;
    width: 40px;
    height: 40px;
    line-height: 39px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    border: 1px solid $primary;
    color: $primary;
    cursor: pointer;

    &:hover.edit {
      border: 1px solid $primary-hover;
      color: $primary-hover;
    }

    &.save {
      color: white;
      border: $tertiary;
      background-color: $tertiary;
    }

    &.saving {
      opacity: 0.4;
    }
  }
}

.challenge-card-header,
.challenge-card-body {
  float: left;
  width: 100%;
}

.challenge-card-header {
  border-bottom: 1px solid rgba(0,0,0,0.06);
  padding: 18px 0 17px;

  .challenge-section-title,
  .points {
    display: inline-block;
  }

  .challenge-section-title {
    float: left;
    padding-left: 11px;
  }

  .points {
    float: right;
    position: relative;
    top: 7px;

    img {
      float: right;
      height: 15px;
    }

    .point-count {
      margin-top: -9px;
      margin-right: 6px;
      float: right;
      font-size: 23px;
      color: $primary;
      font-family: Lato-Regular;

      input {
        width: 62px;
        font-size: 23px;
        margin-top: -5px;
        margin-right: 8px;
        border: 1px solid rgba(0, 0, 75, 0.1);
      }
    }
  }
}

.challenge-card-body {
  padding: 20px 0;
  color: black;
  font-size: 15px;
  line-height: 25px;

  ol {
    padding-left: 26px;

    li {
      margin: 6px 0;
    }
  }

  textarea {
    border: 1px solid rgba(0, 0, 75, 0.1);
    height: 200px;
    padding: 18px;
    font-size: 15px;
    color: black;
    line-height: 31px;
  }
}