.prizes {
  margin: 0;
  float: left;
  width: 100%;
}

.prize {
  position: relative;
  margin-top: 19px;
  float: left;
  width: 206px;
  height: 185px;
  padding-top: 22px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.09);
  box-shadow: 0 0 3px rgba(0,0,0,0.13);
  border-radius: 3px;
  margin-right: calc((100% - (206px * 4))/4);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  &:hover:not(.editable) {
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  }

  .sponsor-icon {
    height: 83px;
    margin: 0 auto;
  }

  .prize-text {
    margin-top: 18px;
    color: $secondary;
    font-size: 13px;
    font-family: Avenir-Next-Medium;
  }

  .sponsor-name {
    color: $secondary;
    margin-top: 7px;
    font-size: 12px;
    opacity: 0.7;
  }

  .prize-edit-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    -ms-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    transition: opacity 0.15s;

    .edit-btn, .remove-btn {
      position: absolute;
      cursor: pointer;
      height: 50px;
      width: 50px;
      line-height: 49px;
      border-radius: 50%;
      border: 1px solid #fff;
      display: inline-block;
      color: #fff;
      top: calc((100% - 50px) / 2);
      font-size: 22px;
      text-align: center;
      background-color: transparent;
      -webkit-transition: background-color 0.15s;
      -moz-transition: background-color 0.15s;
      -ms-transition: background-color 0.15s;
      -o-transition: background-color 0.15s;
      transition: background-color 0.15s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }

    .edit-btn {
      left: calc((50% - 25px) / 2);
    }

    .remove-btn {
      background-image: url("https://s3-us-west-1.amazonaws.com/quokkadev/images/x.png");
      background-size: 36%;
      background-position: center center;
      background-repeat: no-repeat;
      right: calc((50% - 25px) / 2);
    }
  }

  &:hover.editable {
    .prize-edit-mask {
      opacity: 1;
    }
  }
}

.new-prize-btn {
  float: left;
  margin-top: 28px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: $primary;
  border-radius: 4px;
  padding: 9px 0;
  cursor: pointer;

  &:hover {
    background-color: $primary-hover;
  }
}

@media (max-width: 1239px) {
  .prize {
    margin-right: 19px;
  }
}