<html>
  <body style="margin: 0; padding: 0; height: 100%; width: 100%;">
    <center>
      <table align="center" cellpadding="0" cellspacing="0" style="border: 0; margin: 0; padding: 0;" width="100%" height="100%">
        <tbody align="center" width="100%" height="100%">
          <tr style="background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/running.jpg'); background-repeat: no-repeat; background-size: cover; background-position-y: -113px;" width="100%">
            <td width="100%" height="100%" style="padding: 2em; text-align: center;">
              <p style="color: #fff; line-height: 1.2; font-size: 3.5em; margin-bottom: 31px;">Welcome to Week 4!</p>
              <p style="color: #0DD5B2; line-height: 1.2; font-size: 3em; font-weight: 600; margin-top: 0;">Exercise</p>
            </td>
          </tr>
          <tr width="100%" style="background-color: rgba(0,0,0,0.05);">
            <td width="100%" height="100%" style="padding: 1.3em 7em 2.3em; color: #303333;">
              <p style="font-size: 2.3em; text-align: center;">Habit Overview</p>
              <p style="font-size: 1.2em; line-height: 1.75; text-align: left;">Over the past few weeks, you’ve been learning a lot about what you can do to improve your well-being. This week is an opportunity for you to to do some research on your own! The focus of this week is on how foods can affect how we feel, both physically and emotionally. Besides helping you stay in shape, healthy foods can help you increase your energy, boost your immune system, minimize inflammation, promote muscle building, and more.</p>
            </td>
          </tr>
          <tr width="100%" style="background-color: #0DD5B2;">
            <td width="100%" height="100%" style="padding: 1.3em 7em 2.4em; color: #fff;">
              <p style="font-size: 2.3em; text-align: center;">Week 4 Challenge</p>
              <p style="font-size: 1.2em; line-height: 1.75; text-align: left;">Take the first day of this week to check out the Harvard School of Public Health’s Healthy Eating Plate Guide on how to make better food decisions. Pick what will be an improvement for your health and then stick to it for every day this week.</p>
              <div>
                <a href="#" style="padding: 15px 20px; background-color: #fff; color: #0DD5B2; border-radius: 3px; display: block; margin-top: 1.5em; text-decoration: none; width: 200px; font-size: 1.2em;"><img style="height: 20px; margin-right: 9px; position: relative; top: 3px;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/gift-colored.png" alt=""> View Week 4 Prizes</a>
              </div>
            </td>
          </tr>
          <tr width="100%" style="background-color: rgba(0,0,0,0.05);">
            <td width="100%" height="100%" style="padding: 1.3em 13em 2.4em; color: #303333;">
              <p style="font-size: 2.3em; text-align: center;">Resources</p>
              <ul style="font-size: 1.3em; list-style-type: none; padding: 0; margin: 0; margin-bottom: 4px;">
                <li style="margin: 23px 0; margin-top: 34px;">
                  <a href="#" style="color: #303333">Harvard's Healthy Eating Plate Guide</a>
                </li>
                <li style="margin: 23px 0;">
                  <a href="#" style="color: #303333;">Hey here's another resource</a>
                </li>
                <li style="margin: 23px 0; margin-bottom: 34px;">
                  <a href="#" style="color: #303333;">Hey here's a third resource</a>
                </li>
              </ul>
              <div>
                <a href="#" style="padding: 15px 20px; background-color: #0DD5B2; color: #fff; border-radius: 3px; display: block; margin-top: 1.5em; text-decoration: none; width: 225px; font-size: 1.2em;">View More Challenge Resources</a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot align="center" width="100%" style="background-color: #303333; color: #eee;">
          <tr width="100%">
            <td width="100%" height="100%" style="padding-top: 24px;">
              <a href="#"><img style="height: 22px; margin: 0 10px;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/fb.png" alt=""></a>
              <a href="#"><img style="height: 22px; margin: 0 10px;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/twitter.png" alt=""></a>
              <a href="#"><img style="height: 22px; margin: 0 6px;" src="https://s3-us-west-1.amazonaws.com/quokkadev/images/instagram.png" alt=""></a>
            </td>
          </tr>
          <tr width="100%" height="100%">
            <td width="100%" height="100%" style="padding: 1.2em;">
              <p style="font-size: 10px; margin-bottom: 14px;">Sent from the Quokka team at 224 Oak Ct, Menlo Park, CA 94025</p>
              <p style="font-size: 10px;">Click <a href="#" style="color: #01CBF6;">here</a> to update your email settings.</p>
            </td>
          </tr>
        </tfoot>
      </table>
    </center>
  </body>
</html>