#forgotPasswordModalBody {
  padding: 20px;

  .form-input:not(.invalid) {
    border: 1px solid rgba(0,0,75,0.15);
  }

  .email-input > .invalid-message {
    bottom: auto;
    top: 10px;
  }

  .form-input {
    margin-top: 34px;
  }
}