#newPrizeModalBody {
  padding: 20px 10px;

  .form-select:not(.invalid),
  .form-input:not(.invalid) {
    border: 1px solid rgba(0,0,75,0.1);
  }

  .form-input {
    margin-top: 20px;
  }

  .count-section {
    margin-top: 20px;

    .count-section-desc {
      font-size: 11px;
      text-transform: uppercase;
      color: $secondary;
      opacity: 0.55;
      padding-left: 3px;
      margin-bottom: 4px;
    }
  }
}