#banner {
  position: relative;
  padding: 0 4%;
  padding-top: 150px;
  width: 100%;
  height: 450px;
  color: #fff;
  background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/images/dining-hall.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .dimmer {
    background-color: rgba(0, 0, 0, 0.40);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .chef-hat {
    height: 75px;
    width: 75px;
  }

  .banner-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
  }

  .banner-main-text {
    font-family: Avenir-Next-Medium;
    color: $primary;
    font-size: 78px;
    text-align: center;
    margin-bottom: 28px;
    width: 100%;
    display: table-cell;
  }

  .banner-sub-text {
    font-family: Lato-Light;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 38px;
  }

  .banner-nav-table-container {
    display: table;
  }

  .banner-nav-table-row {
    display: table-row;
  }

  .banner-nav-button {
    display:inline-block;
  }

  .banner-nav-button-container-left {
    display: table-cell;
    white-space: nowrap;
    padding-left: 100px;
    text-align: center;
    vertical-align: middle;
  }

  .banner-nav-button-container-right {
    display: table-cell;
    white-space: nowrap;
    padding-right: 100px;
    text-align: center;
    vertical-align: middle;
  }
}

#challenge {
  padding: 90px 140px;
  background: #fff;
  font-size: 16px;
  text-align: justify;

  .container-fluid {
    margin-bottom: 40px;
  }

  $challengeCardPaddingLeft: 20px;

  .challenge-section-title {
    color: $primary;
    font-family: Avenir-Next-Medium;
  }

  .challenge-same-row {
    overflow: auto;
  }

  .challenge-card-title {
    padding: 10px;
    padding-left: $challengeCardPaddingLeft;
    float: left;
  }

  .challenge-card-rewards {
    padding: 10px;
    float: right;
  }

  .challenge-card-rewards-image {
    padding: 10px;
    float: right;
    height: auto;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 10px
  }

  .challenge-card {
    border: 2px;
    border-color: #EEEEF3;
    border-radius: 5px;
    border-style: solid;
    background-color: #F5F5F8;
  }

  .challenge-card-title-border {
    border-top: 2px solid #000;
    border-color: #EEEEF3;
    padding-bottom: 10px;
    padding-left: $challengeCardPaddingLeft;
    width: 95%;
  }

  .challenge-card-body {
    padding: 10px;
    text-align: justify;
    padding-left: $challengeCardPaddingLeft;
  }

  .challenge-prizes-link {
    background: white;
    width: 200px;
    height: 180px;
    margin-left: 20px;
    float:left;
    text-align: center;
    padding: 20px;
    border: 1px solid;
    border-color: #C9C9C9;
  }

  .challenge-prizes-link-title {
    color: black;
  }

  .challenge-prizes-link-company {
    color: grey;
  }

  .challenge-prizes-image {
    width: 80px;
    height: auto;
  }

  .challenge-invite-friends {
    background-color: $secondary;
    color: #fff;
    padding: 70px 0 80px;
    width: 100vw;/* <-- children as wide as the browser window (viewport) */
    margin-left: calc(-1 * ((100vw - 100%) / 2));
  }

  .challenge-invite-friends-form {
    vertical-align: center;
    text-align: center;
    width: 100%;
  }

  .invite-friends-submit-desktop {
    margin-left: 18px;
    vertical-align: middle;
    &.complete {
      background-image: url('https://s3-us-west-1.amazonaws.com/quokkadev/marketing/images/check.png');
      background-color: $tertiary;
    }
  }
  
  ul {
    list-style-type: circle;
    padding-left: 2em;

    li {
      margin-top: 1em;
    }
  }
}

@media (max-width: 991px) {
  #challenge {
    padding: 90px;
  }
}

@media (max-width: 768px) {
  #challenge {
    padding: 75px 4%;
  }
}
