$primary: #0DD5B2;
$secondary: #303333;
$tertiary: #0ABDE9;

$primary-hover: #13DFBD;
$tertiary-hover: #01CBF6;

$default-dark: #333;
$header-dark: #444;

$quokka-red: #D51E1E;
$bright-red: #FF2E2E;

$trivial-link: #337ab7;
