body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  font-family: Avenir-Next-Regular;
}

body .row {
  margin-left: 0;
  margin-right: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a, a:hover {
  text-decoration: none;
}

#appContainer {
  z-index: 0;
  transform: translateX(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  &.show-menu {
    transform: translateX(-60%);
  }
}
