/*
Error: Undefined variable: "$secondary".
        on line 11 of src/styles/scss/footer.scss

6:     margin: 0;
7:   }
8: }
9: 
10: footer * {
11:   color: $secondary;
12:   opacity: 0.6;
13: }

Backtrace:
src/styles/scss/footer.scss:11
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/benWhittle/.rvm/gems/ruby-2.3.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$secondary\".\A         on line 11 of src/styles/scss/footer.scss\A \A 6:     margin: 0;\A 7:   }\A 8: }\A 9: \A 10: footer * {\A 11:   color: $secondary;\A 12:   opacity: 0.6;\A 13: }"; }
