@font-face {
  font-family: Avenir-Next-Thin;
  src: url(/fonts/avenir-next/avenir-next-thin.ttf) format("truetype"); }
@font-face {
  font-family: Avenir-Next-Regular;
  src: url(/fonts/avenir-next/avenir-next-regular.ttf) format("truetype"); }
@font-face {
  font-family: Avenir-Next-Medium;
  src: url(/fonts/avenir-next/avenir-next-medium.ttf) format("truetype"); }
@font-face {
  font-family: Avenir-Next-DemiBold;
  src: url(/fonts/avenir-next/avenir-next-demibold.ttf) format("truetype"); }
@font-face {
  font-family: Avenir-Next-Bold;
  src: url(/fonts/avenir-next/avenir-next-bold.ttf) format("truetype"); }
@font-face {
  font-family: Avenir-Next-Italic;
  src: url(/fonts/avenir-next/avenir-next-italic.ttf) format("truetype"); }
@font-face {
  font-family: Lato-Thin;
  src: url(/fonts/lato/Lato-Thin.ttf) format("truetype"); }
@font-face {
  font-family: Lato-Light;
  src: url(/fonts/lato/Lato-Light.ttf) format("truetype"); }
@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/lato/Lato-Regular.ttf) format("truetype"); }
@font-face {
  font-family: Lato-Medium;
  src: url(/fonts/lato/Lato-Medium.ttf) format("truetype"); }
@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/lato/Lato-Bold.ttf) format("truetype"); }
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body * {
  font-family: Avenir-Next-Regular; }

body .row {
  margin-left: 0;
  margin-right: 0; }

ul {
  list-style-type: none;
  padding-left: 0; }

a, a:hover {
  text-decoration: none; }

#appContainer {
  z-index: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #appContainer.show-menu {
    transform: translateX(-60%); }
  #appContainer.check-in footer {
    background-color: rgba(0, 0, 75, 0.04);
    border-top: 1px solid rgba(0, 0, 75, 0.04); }

#sideNav {
  display: none;
  width: 60%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1; }
  #sideNav.show-menu {
    z-index: 0; }

.side-nav-list {
  width: 100%;
  float: left;
  font-size: 16px;
  padding: 0;
  margin: 0; }

.side-nav-list > li {
  width: 100%;
  float: left;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .side-nav-list > li a {
    display: inline-block;
    width: 100%;
    padding: 12px 18px;
    color: #333; }
    .side-nav-list > li a:active {
      opacity: 0.5; }

@media (max-width: 626px) {
  #sideNav {
    display: block; } }
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 1; }
  header .header-nav {
    width: 100%;
    float: left;
    padding: 24px 85px; }
    header .header-nav a {
      height: 54px;
      display: inline-block; }
      header .header-nav a img {
        height: 100%; }
  header .header-left {
    float: left; }
    header .header-left a {
      float: left; }
  header .header-right {
    float: right; }
    header .header-right a {
      float: right; }
  header .header-nav-link {
    font-family: Avenir-Next-Medium;
    padding: 18px 20px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center; }
    header .header-nav-link.featured {
      color: #0DD5B2 !important; }
    header .header-nav-link:hover {
      opacity: 0.95; }
    header .header-nav-link:active {
      opacity: 1; }
  header .header-mbl {
    display: none;
    float: right;
    margin-top: 15px;
    cursor: pointer; }
    header .header-mbl i {
      color: #fff;
      display: inline-block;
      float: right;
      font-size: 26px; }

@media (max-width: 991px) {
  header > .header-nav {
    padding: 24px 4%; } }
@media (max-width: 626px) {
  header .header-dktp {
    display: none; }
  header .header-mbl {
    display: block; } }
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 1; }
  header .header-nav {
    width: 100%;
    float: left;
    padding: 24px 85px; }
    header .header-nav a {
      height: 54px;
      display: inline-block; }
      header .header-nav a img {
        height: 100%; }
  header .header-left {
    float: left; }
    header .header-left a {
      float: left; }
  header .header-right {
    float: right; }
    header .header-right a {
      float: right; }
  header .header-nav-link {
    font-family: Avenir-Next-Medium;
    padding: 18px 20px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center; }
    header .header-nav-link.featured {
      color: #0DD5B2 !important; }
    header .header-nav-link:hover {
      opacity: 0.95; }
    header .header-nav-link:active {
      opacity: 1; }
  header .header-mbl {
    display: none;
    float: right;
    margin-top: 15px;
    cursor: pointer; }
    header .header-mbl i {
      color: #fff;
      display: inline-block;
      float: right;
      font-size: 26px; }

@media (max-width: 991px) {
  header > .header-nav {
    padding: 24px 4%; } }
@media (max-width: 626px) {
  header .header-dktp {
    display: none; }
  header .header-mbl {
    display: block; } }
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 1; }
  header .header-nav {
    width: 100%;
    float: left;
    padding: 24px 85px; }
    header .header-nav a {
      height: 54px;
      display: inline-block; }
      header .header-nav a img {
        height: 100%; }
  header .header-left {
    float: left; }
    header .header-left a {
      float: left; }
  header .header-right {
    float: right; }
    header .header-right a {
      float: right; }
  header .header-nav-link {
    font-family: Avenir-Next-Medium;
    padding: 18px 20px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center; }
    header .header-nav-link.featured {
      color: #0DD5B2 !important; }
    header .header-nav-link:hover {
      opacity: 0.95; }
    header .header-nav-link:active {
      opacity: 1; }
  header .header-mbl {
    display: none;
    float: right;
    margin-top: 15px;
    cursor: pointer; }
    header .header-mbl i {
      color: #fff;
      display: inline-block;
      float: right;
      font-size: 26px; }

@media (max-width: 991px) {
  header > .header-nav {
    padding: 24px 4%; } }
@media (max-width: 626px) {
  header .header-dktp {
    display: none; }
  header .header-mbl {
    display: block; } }
#appHeader {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  #appHeader .header-nav {
    padding: 15px 85px; }
  #appHeader .header-nav-link {
    color: #444; }
    #appHeader .header-nav-link:hover {
      opacity: 0.85; }
  #appHeader .header-mbl > i {
    color: #444; }

@media (max-width: 991px) {
  #appHeader > .header-nav {
    padding: 15px 4%; } }
footer {
  padding: 50px 125px;
  font-family: Lato-Regular; }

.footer-section {
  min-height: 145px; }

.footer-link-title {
  font-size: 17px;
  color: #0DD5B2;
  margin-bottom: 10px;
  display: inline-block; }

.footer-links {
  font-size: 13px; }
  .footer-links a {
    color: #303333;
    opacity: 0.6;
    display: inline-block;
    padding: 4px 0; }
    .footer-links a:hover {
      opacity: 0.8;
      text-decoration: underline; }

.soc-media-copyright {
  display: inline-block;
  float: left; }

.soc-media {
  display: block;
  margin: 0 auto 13px;
  text-align: center; }
  .soc-media a {
    margin: 0 11px;
    color: #0DD5B2; }
    .soc-media a:hover {
      color: #13DFBD; }
    .soc-media a:active {
      color: #0DD5B2; }
  .soc-media i {
    font-size: 20px; }

.copyright {
  color: #303333;
  opacity: 0.6;
  font-size: 13px; }

.form-input {
  background-color: #fff;
  box-shadow: none;
  outline: none;
  border: 1px solid #dedede;
  color: #333;
  width: 100%; }
  .form-input.invalid {
    box-shadow: 0 0 4px 2px #0DD5B2; }
  .form-input.invalid-mobile {
    border: 2px solid #D51E1E; }

input.form-input {
  border: none;
  border-radius: 3px;
  height: 44px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 14px; }

textarea.form-input {
  border-radius: 4px;
  padding: 10px 12px;
  resize: none;
  font-size: 14.5px; }
  textarea.form-input.invalid {
    box-shadow: 0 0 2px 1px #D51E1E; }

.form-qa {
  margin-bottom: 32px; }

.form-question {
  font-size: 16px;
  margin-bottom: 12px;
  padding-left: 7px;
  color: #303333;
  font-family: Avenir-Next-Medium; }

#home {
  padding: 0; }

#welcome {
  position: relative;
  padding: 0 4%;
  padding-top: 258px;
  width: 100%;
  height: 626px;
  color: #fff;
  background-image: url("https://s3-us-west-1.amazonaws.com/quokkadev/marketing/images/landing.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  #welcome .dimmer {
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  #welcome .welcome-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0; }

.welcome-main-text {
  font-family: Avenir-Next-DemiBold;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px; }

.welcome-sub-text {
  font-family: Lato-Light;
  font-size: 24px;
  text-align: center;
  margin-bottom: 38px; }

.primary-request-btn {
  font-family: Avenir-Next-Medium;
  margin: 0 auto;
  display: block;
  font-size: 14px;
  border-radius: 4px;
  background-color: #0DD5B2;
  padding: 16px 30px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border: none;
  -webkit-appearance: none; }
  .primary-request-btn:hover {
    background-color: #13DFBD; }
  .primary-request-btn:active {
    background-color: #0DD5B2; }

@media (max-width: 845px) {
  .welcome-main-text {
    font-size: 50px; }

  .welcome-sub-text {
    font-size: 20px; } }
@media (max-width: 626px) {
  #welcome {
    padding-top: 183px; }

  .welcome-main-text {
    font-size: 44px;
    line-height: 1.1; }

  .welcome-sub-text {
    font-size: 20px; } }
#mission {
  padding: 90px 140px;
  background: #fff;
  color: #303333;
  font-size: 16px;
  text-align: center; }
  #mission .about-category-title {
    font-family: Avenir-Next-Medium; }
  #mission .about-category-desc {
    font-size: 18px; }

@media (max-width: 991px) {
  #mission {
    padding: 90px; } }
@media (max-width: 768px) {
  #mission {
    padding: 75px 4%; } }
#about {
  padding: 95px 0;
  background-color: #0DD5B2;
  color: #fff; }

.about-category-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px; }

.about-category-desc {
  text-align: center;
  font-size: 16px; }

.about-category > .icon {
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px; }

@media (min-width: 992px) {
  .about-category {
    padding-left: 30px;
    padding-right: 30px; } }
@media (max-width: 991px) {
  #about {
    padding: 90px; }

  .about-category {
    margin-bottom: 60px; } }
@media (max-width: 768px) {
  #about {
    padding: 75px 4%; } }
#contact {
  background-color: #303333;
  color: #fff;
  padding: 70px 0 80px; }

#contact > .container-fluid {
  padding: 0; }

.leading-contact-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 42px;
  font-family: Avenir-Next-Thin; }

.contact-field {
  width: 310px; }

.contact-field-container:first-child {
  padding-right: 9px; }
  .contact-field-container:first-child * {
    float: right; }
.contact-field-container:last-child {
  padding-left: 9px; }
  .contact-field-container:last-child * {
    float: left; }

.submit-desktop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  outline: none;
  border: none;
  margin-left: 18px;
  margin-top: 2px;
  background-color: #0DD5B2;
  background-image: url("https://s3-us-west-1.amazonaws.com/quokkadev/marketing/images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .submit-desktop.complete {
    background-image: url("https://s3-us-west-1.amazonaws.com/quokkadev/marketing/images/check.png");
    background-color: #01CBF6; }
  .submit-desktop:hover {
    background-color: #13DFBD; }
  .submit-desktop:active {
    background-color: #0DD5B2; }

.submit-mobile {
  display: none; }

@media (max-width: 991px) {
  #contact > .container-fluid {
    padding: 0 4%; }

  .contact-field-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 10px; }

  .contact-field {
    width: 100%; }

  .submit-desktop {
    display: none; }

  .submit-mobile {
    display: block; } }
#checkIn {
  background-color: #fff;
  padding-top: 84px; }

.check-in-week-info {
  padding: 57px;
  text-align: center; }
  .check-in-week-info .week-info {
    font-family: Lato-Thin;
    font-size: 39px;
    color: #0DD5B2;
    margin-bottom: 20px; }

.check-in-instruc {
  font-size: 15px;
  color: #303333; }
  .check-in-instruc a {
    color: #01CBF6; }
    .check-in-instruc a:hover {
      text-decoration: underline; }

.check-in-form {
  margin: 0 80px;
  padding: 50px 45px;
  border-top: 1px solid rgba(0, 0, 75, 0.06); }
  .check-in-form textarea.form-input {
    min-height: 110px; }

.horiz-spinner {
  position: absolute;
  margin: 0 auto;
  width: 70px;
  text-align: center; }

.horiz-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.horiz-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.horiz-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.lg-spinner-btn {
  position: relative; }
  .lg-spinner-btn button {
    width: 100%;
    background-color: #0DD5B2;
    border-radius: 3px;
    height: 44px;
    text-align: center;
    font-family: Avenir-Next-Medium;
    outline: none;
    border: none;
    color: #fff; }
    .lg-spinner-btn button:hover {
      background-color: #13DFBD; }
    .lg-spinner-btn button:active {
      background-color: #0DD5B2; }
  .lg-spinner-btn .horiz-spinner {
    display: none;
    top: 13px;
    left: calc((100% - 70px)/2); }
  .lg-spinner-btn.loading button {
    color: transparent; }
  .lg-spinner-btn.loading .horiz-spinner {
    display: block; }
  .lg-spinner-btn.complete button {
    background-color: #01CBF6; }

/*# sourceMappingURL=index.css.map */
