footer {
  padding: 50px;
  font-family: Lato-Regular;
}

.footer-section {
  min-height: 145px;
}

.footer-link-title {
  font-size: 17px;
  color: $primary;
  margin-bottom: 10px;
  display: inline-block;
}

.footer-links {
  font-size: 13px;

  a {
    color: $secondary;
    opacity: 0.6;
    display: inline-block;
    padding: 4px 0;

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}

.soc-media-copyright {
  display: inline-block;
  float: left;
}

.soc-media {
  display: block;
  margin: 0 auto 13px;
  text-align: center;

  a {
    margin: 0 11px;
    color: $primary;

    &:hover {
      color: $primary-hover;
    }

    &:active {
      color: $primary;
    }
  }

  i {
    font-size: 20px;
  }
}

.copyright {
  color: $secondary;
  opacity: 0.6;
  font-size: 13px;
}